name = "cslib"
version = "0.1.0"
defaultTargets = ["Cslib"]
testDriver = "CslibTests"

[leanOptions]
weak.linter.mathlibStandardSet = true
weak.linter.flexible = true
# The next three linters are provided by Mathlib, but don't work with CSLib.
# pythonStyle and allScriptsDocumented are Mathlib-specific, so we keep them disabled.
# checkInitImports: we have our own CSlib-specific script-based implementation at
# scripts/check-init-imports.lean (run via CI in the linters workflow).
weak.linter.pythonStyle = false
weak.linter.checkInitImports = false
weak.linter.allScriptsDocumented = false

[[require]]
name = "mathlib"
scope = "leanprover-community"
rev = "v4.25.0-rc2"

[[lean_lib]]
name = "Cslib"
globs = ["Cslib.*"]

[[lean_lib]]
name = "CslibTests"
globs = ["CslibTests.+"]
