name = "cslib"
version = "0.1.0"
defaultTargets = ["Cslib"]
testDriver = "CslibTests"

[leanOptions]
weak.linter.mathlibStandardSet = true
weak.linter.flexible = true

[[require]]
name = "mathlib"
scope = "leanprover-community"
rev = "v4.24.0"

[[require]]
name = "Strata"
git = "https://github.com/abdoo8080/Strata"
rev = "boole"

[[lean_lib]]
name = "Cslib"
globs = "Cslib.*"

[[lean_lib]]
name = "CslibTests"
globs = "CslibTests.+"
